#container1{
    font-family:Calibri, Helvetica, serif;
    color:#444;
    width:300px;
	height:300px;
    padding:30px;
    border:1px solid #ddd;
    background:#CCCC33;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	border-radius: 20px ;
	top:250px;
}

#container2{
    font-family:Calibri, Helvetica, serif;
    color:#444;
    width:200px;
	height:200px;
    padding:30px;
    border:1px solid #ddd;
    background:#CCCC00;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	border-radius: 20px ;
	
}


#circleRouge {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
	background:#FF0000;
	position:absolute;
	top: 200px;
	left: 100px;
}

#button1{
	position: absolute;
	left: 100px;
	top: 310px;
}

#maincontainer{
    font-family:Calibri, Helvetica, serif;
	height: 1200px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
 
h1, nav{
    text-align:center;
    margin:0 0 20px;
}

h2{
	text-align:center;
    margin:0 0 20px;
	font-size:15px;
}

