<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Identification</title>
    <link rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="javascript/script.js">
    </script>
</head>
<body>
	
<div id="maincontainer">
	
	<div id="container1">
	<h1>PolyTech'Nantes</h1>
		<div id="container2">
			<h2>Indentifiez Vous!</h2>
			<form action="">
			Utilisateur:<br>
			<input type="text" name="field1" id="utilisateur" value="">
			<br>
			Mot de Passe:<br>
			<input type="password" name="field2" id="motdepasse" value="">
			<br>
			</form>
			<br>
			<input type="button" onclick="verification();" value="Se connecter" />
		</div>
	</div>
	
	
	
</div>
	
	<noscript>
	    Your browser does not support javascript. Please install it in order to proceed further....
	</noscript>
</body>
</html>
